.djzl,.gfxw,.yljl,.ltrt,#video1 dl,.bgvideo,.bottom4,.jcsp,.bottom5,.bottom6,.div_8954,.bzsc,#video1 dt,.bottom7,#video2,#bbs,.gztd,.mvtk,.sp,.csxx,.bg6,.bg5,.yljl_2,.jyxd,.jyxd_2,.jjzx{background:url(../images/body2.gif) no-repeat 0 0;}
.djzl,.gfxw,.yljl,.ltrt,#video1 dl,.bgvideo,.bottom4,.jcsp,.bottom5,.bottom6,.div_8954,.bzsc,#video1 dt,.bottom7,#video2,#bbs,.gztd,.mvtk,.sp,.csxx,.bg6,.bg5,.yljl_2,.jyxd,.jyxd_2,.jjzx{background:url(../images/body2.gif) no-repeat 0 0;}
.djzl{width:327px;height:49px;background-position:0 -47px}
.jjzx{width:327px;height:47px;background-position:0 0;}
.gfxw{width:327px;height:48px;background-position:0 -96px}
.yljl{width:327px;height:44px;background-position:0 -144px}
.ltrt{width:327px;height:45px;background-position:0 -290px}
#video1 dl{width:137px;height:152px;background-position:-291px -362px}
.bgvideo{width:645px;height:31px;background-position:0 -520px}
.bottom4{width:680px;height:11px;overflow:hidden;background-position:0 -551px}
.jcsp{width:680px;height:43px;background-position:0 -562px}
.bottom5{width:327px;height:16px;background-position:-265px -607px}
.bottom6{width:275px;height:16px;background-position:-265px -625px}
.div_8954{width:463px;height:44px;background-position:-327px 0}
.bzsc{width:463px;height:44px;background-position:-327px -44px}
#video1 dt{width:122px;height:108px;background-position:-336px -98px}
.bottom7{width:260px;height:8px;background-position:-467px -91px}
#video2{width:260px;height:407px;background-color:rgb(147,7,8);background-position:-467px -101px;}
#bbs{width:940px;height:123px;background-position:0 -1072px}
.gztd{width:275px;height:48px;background-position:0 -335px}
.mvtk{width:275px;height:47px;background-position:0 -383px}
.sp{width:276px;height:49px;background-position:0 -430px}
.csxx{width:276px;height:41px;background-position:0 -479px}
.bg6{width:275px;height:330px; background-color:white;background-position:-339px -737px}
.bg5{width:327px;height:330px;background-color:white;overflow:hidden;background-position:-10px -737px}
.yljl_2{width:327px;height:29px;background-position:0 -188px}
.jyxd{width:327px;height:44px;background-position:0 -217px}
.jyxd_2{width:327px;height:29px;background-position:0 -261px}


.jrht,.mxzl,.gxdp,.xssl,.cyzl,#adv,#da,#vc,.jrjd,.bottom2,.bg2,.bg3,.bottom1,.bg1,.bottom3{background:url(../images/bodytop.gif) no-repeat 0 0;}
.jrht{width:303px;height:47px;background-position:0 0}
.mxzl{width:303px;height:47px;background-position:0 -47px}
.gxdp{width:303px;height:48px;background-position:0 -94px}
.xssl{width:220px;height:48px;background-position:0 -142px}
.cyzl{width:220px;height:44px;background-position:0 -190px}
#adv{width:401px;height:190px;background-position:-303px 0}
#da{width:220px;height:133px;background-position:-391px -31px}
#vc{width:220px;height:119px;background-position:-402px -190px}
.jrjd{width:400px;height:50px;background-position:0 -234px}
.bottom2{width:220px;height:15px;background-position:0 -316px}
.bg2{width:220px;height:118px;background-position:0 -481px}
.bg3{width:400px;height:350px;background-position:-303px -309px}
.bottom1{width:303px;height:16px;background-position:0 -300px}
.bg1{width:303px;background-position:0 -331px}
.bottom3{width:400px;height:16px;background-position:0 -284px;}

#header #logo a,.nav,.nav1,.nav2,.footer,#nav,.button,.tri,#header dd input.submit{background:url(../images/global.gif) no-repeat 0 0;}
#header #logo a{width:169px;height:89px;background-position:0 0}
.nav2{width:791px;height:32px;background-position:-169px -57px}
.nav{width:791px;height:27px;background-position:-169px 0}
.nav1{width:791px;height:29px;background-position:-169px -27px}
.footer{width:960px;height:37px;background-position:0 -140px}
#nav{width:960px;height:69px;background-position:0 -177px}
.button{width:49px;height:19px;background-position:-300px -100px}
.tri{width:5px;height:8px;background-position:5px -107px}
.button1{width:76px;height:32px;background-position:-380px -100px}
.button2{width:91px;height:32px;background-position:-480px -100px}
.button3{width:60px;height:32px;background-position:-580px -100px}
.button4{width:54px;height:32px;background-position:-660px -100px}